.array-bar {
    display : inline-block;
    margin : 0 2px;
    width : 0.27rem;
}
.array-container {
    margin-top: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 8px solid rgb(25, 25, 25);
    padding: 5px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
