
.container-button{
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
}

.array-bar-bubble {
    display : inline-block;
    margin : 0 2px;
    width : 0.27rem;
}
.array-bar-merge {
  display : inline-block;
  margin : 0 2px;
  width : 0.27rem;
}
.array-container {

    border: 4px solid rgb(25, 25, 25);
    width: auto;
    font-size: 0;
    background: rgb(210, 230, 230);
}
.button {
  margin-right: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.outer-container{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

